:root{
    --primary-color: #305307; 
    --secondary-color: #923e1d; 
    --accent1-color: #104880;
    --accent2-color: #e0e0e0;
    --heading-font: "Abril Fatface", "Georgia", serif;
    --body-font: Quattrocento Sans;
}

* {    
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
}

header {
background-color: var(--primary-color);
color: var(--accent2-color);
padding: 1rem 2rem;
max-width: 960px;
display: grid;
/* justify-content: space-between; */
grid-template-columns: auto 1fr;
align-items: center;
}
#logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size:  1.2rem;
}
#logo img {
    height: 50px;
}
header, main, footer {
    /* width: 840px; */
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

/* nav {
    /*grid*/
    /* display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul {
    text-decoration: none;
    color: var(--accent2-color);
    font-weight: bold;
    gap: 1rem;
} */ 
 nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--accent2-color);
  font-weight: bold;
}

.history .columns {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  align-items: center;
  margin: 2rem 0;
}

.gallery-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.gallery-row figure {
  text-align: center;
}

.gallery-row img {
  max-width: 150px;
  border-radius: 6px;
}

nav, p, section, article {
    margin: 2rem 0;
    padding: 1rem;
}

.socialmedia a {
    text-decoration: none;

}
.hero {
    /* position: relative; 
     display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
   position: relative;
}

.hero img {
    /* display: block;
    width: 50%;
    height: auto; */
    max-width: 400px;
    border-radius: 8px;
}

.hero article img {
  float: right;
}

h1 {
    /* position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: left;
    opacity: 1;
    background-color: var(--secondary-color);
    color: #f8f7f7;  */
     background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem;
  text-align: left;
  opacity: 1;
  position: absolute;
}


.hero article {
    position: absolute;
    color: var(--accent1-color);
    flex: 1;
    float: right;
}

.history {
  margin: 2rem 0;
}

.history h2 {
  text-align: center;
  margin-bottom: 1rem;
}





footer {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
  margin-top: 8px;
}

footer .socialmedia {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}


