:root{
    --color:rgb(30, 29, 29);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main{
    max-width: 840px;
}

main img{
    width: 200px;
    height: auto;
    border: #e6dcdc;
    padding: 2px;
    box-shadow: 4px 4px 8px #1c1a1a;
    float: right;
}

aside{
    width: 15rem;
    margin: 1rem;
    border: 2px solid rgba(248, 250, 250, 0.887);
    padding: 1rem;
    background-color: #7ebacb;
    color:var(--color);
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}


nav {
    background-color: rgb(157, 225, 235);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color:var(--color);
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}
h1 {
    color:var(--color);
}

img {
    width: 176px;
    height: auto;
    border: 1px solid rgb(27, 25, 25);
    padding: 2px;
    box-shadow: 0 0 30px rgb(185, 183, 183);
}
p {
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {
  width: 20em;
  text-align: center;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
}
    
main {
  grid-column: 2/3;
  margin: 1rem;
}
    
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}