main{
    max-width: 840px;
}

main img{
    width: 200px;
    height: auto;
    border: #e6dcdc;
    padding: auto;
    box-shadow: #111111;
}

aside{
    width: 15rem;
    margin: 1rem;
    border: 2px solid rgba(248, 250, 250, 0.887) (150 204 207/ 0.2); 
    padding: 1rem;
    background-color: #7ebacb;
    color: rgb(30, 29, 29);
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}


nav {
    background-color: rgb(157, 225, 235);
    padding: 10px;
}
nav a {
    color: rgb(3, 3, 3);
    display: block;
    padding: 20px;
}
h1 {
    color: rgb(21, 21, 22);
}
img {
    width: 176px;
    height: auto;
    border: 1px solid rgb(27, 25, 25);
    padding: 2px;
    box-shadow: 0 0 30px rgb(185, 183, 183);
}
p {
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}